In [43]:
import pandas as pd
import numpy as np
from jinja2 import Enviornment, FileSystemLoader
import re
import weasyprint import HTML

boston = datasets.load_diabetes()

In [40]:
#Load the csv with diabetes information into a pandas df
diab_org=pd.read_csv('https://www4.stat.ncsu.edu/~boos/var.select/diabetes.tab.txt',sep='\t')

In [47]:
#Select only the columns we are interested in
diab=diab_org[['AGE','SEX','BMI','BP']]

In [49]:
diab.loc[1:30]

    AGE  SEX   BMI      BP
1    48    1  21.6   87.00
2    72    2  30.5   93.00
3    24    1  25.3   84.00
4    50    1  23.0  101.00
5    23    1  22.6   89.00
6    36    2  22.0   90.00
7    66    2  26.2  114.00
8    60    2  32.1   83.00
9    29    1  30.0   85.00
10   22    1  18.6   97.00
11   56    2  28.0   85.00
12   53    1  23.7   92.00
13   50    2  26.2   97.00
14   61    1  24.0   91.00
15   34    2  24.7  118.00
16   47    1  30.3  109.00
17   68    2  27.5  111.00
18   38    1  25.4   84.00
19   41    1  24.7   83.00
20   35    1  21.1   82.00
21   25    2  24.3   95.00
22   25    1  26.0   92.00
23   61    2  32.0  103.67
24   31    1  29.7   88.00
25   30    2  25.2   83.00
26   19    1  19.2   87.00
27   42    1  31.9   83.00
28   63    1  24.4   73.00
29   67    2  25.8  113.00
30   32    1  30.5   89.00

In [ ]:
env=Enviornment(loader=FileSystemLoader('.'))
template= env.get_template('report_template.html')
template_vars={'title':'TITLE OF REPORT',
              'date':'date',
              'table_data':}

html_out=template.render(template_vars)

HTML(string=html_out).write_pdf(fname,stylesheets=["report.css"])